.card-annoucement-container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-width: 500PX;
    max-width: 500PX;
    height: 400px;
    padding: 1rem 0;
    box-shadow:0 0 80px rgb(0, 0, 0, 0.25);
    cursor: pointer;
}
.card-annoucement-container .card-annoucement-img{
    width: 100%;
    height: 100%;
}
.card-annoucement-container:hover{
    transform: scale(1.01);
}
.card-annoucement-container .card-annoucement-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-annoucement-container .card-annoucement-title{
    word-break: break-all;
    justify-content: center;
    color: var(--text-color);
    font-family: monospace;
    font-size: 1.35rem
}
.card-annoucement-container .card-annoucement-cost, .card-annoucement-category{
    color: var(--text-color);
}
.card-annoucement-container .card-annoucement-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}
.btn-annoucement{
    padding: 10px 16px;
    background: var(--orange-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}