.full-screen-image-modal{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    background: rgba(0, 0, 0, 0.5);
}
.full-screen-image-modal .modal-content{
    height: 600px;
}
.full-screen-image-modal .modal-content .header-modal{
    display: flex;
    justify-content: space-between;
}
.full-screen-image-modal .modal-content img{
    width: 100%;
    height: 100%;
}
.full-screen-image-modal .modal-content  .close-button{
    font-size: 2rem;
   color: white;
   border: none;
   cursor: pointer;
}