.comment-form-container{
    width: 100%;
    padding-bottom: 2rem;
}
.comment-form-container h3{
    color: var(--text-color);
    padding-bottom: 1rem;
}
.comment-form-container .comment{
    display: flex;
    flex-direction: column;
}
.comment-form-container .comment .textarea{
    width: 100%;
    background: var(--second-color);
    color: var(--text-color);
    font-size: 1rem;
    border: none;
}
.comment-form-container .rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.comment-form-container .rate select{
    width: 130px;
    border-radius: 5px;
    padding: 5px 0;
    border: none;
    cursor: pointer;
    background: var(--second-color);
    color: #fff;
    font-size: 1.1rem;
}